body {
    height: 100vh;
    overflow-y: hidden;
    color: white;
}

.container {
    overflow-y: hidden;
    
    .scrollButton {
        opacity: 0;
        position: fixed;
        transform: translateX(-50%);
        bottom: 25px;
        left: 50%;
        z-index: 1;
        cursor: pointer;
        transition: opacity 200ms linear;
        animation: bounce 2s ease-in-out infinite alternate;
    }
}

.scroll-index-0, .scroll-index-1, .scroll-index-8 {
    .scrollButton {
        opacity: 1;
    }
}

.scroll-index-1, .scroll-index-9 {
    .scrollBarButton {
        background-color: black;
    }
}

@keyframes bounce{
    0% {
        transform: translateX(-50%) translateY(5px);
    }
    50% {
        transform: translateX(-50%) translateY(-5px);
    }
    100% {
        transform: translateX(-50%) translateY(5px);
    }
}

.page {
    height: 100vh;
    width: 100%;
}